---
import { getEntry, render } from "astro:content";
import PostsLayout from "../../layouts/PostsLayout.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({ params: { id: post.id } }));
}

const { id } = Astro.params;

const entry = await getEntry("posts", id!);
if (!entry) {
  throw new Error("Could not find blog post 1");
}

const { data } = entry;

const { Content, headings } = await render(entry);

import Avatar from "../../assets/avatar.png";
---

<PostsLayout>
  <div class="max-w-768px mx-auto posts">
    <!-- post top -->
    <div class="my-1em">
      <div class="text-1.5em header-1">{data.title}</div>
      <div class="mt-0.5em flex items-center">
        <img
          class="shrink-0 w-64px h-64px rounded-1/2 cover"
          src={Avatar.src}
        />
        <div class="ml-1em">
          <div class="flex items-center">
            <span class="text-blue text-1.25em">@</span>Gnayauh
          </div>
          <div class="text-#acacac">2025/04/06</div>
        </div>
      </div>
    </div>
    <div class="grid cols-[1fr_200px]">
      <div>
        <Content />
      </div>
      <div class="px-2em">
        <!-- post header -->
        <div>{headings.map((header) => <div>{header.text}</div>)}</div>
      </div>
    </div>
  </div>
</PostsLayout>

<style>
  .header-1 {
    font-weight: 600;
  }

  .posts :global(h2) {
    font-size: 1.25em;
    font-weight: 600;
    border-bottom: 2px solid #ececec;
  }

  .posts :global(p) {
    margin: 1em 0;
  }
</style>
