---
import WithHeaderLayout from "../layouts/WithHeaderLayout.astro";

import { getCollection } from "astro:content";
const posts = await getCollection("posts");
---

<WithHeaderLayout>
  <div class="grid cols-24 max-w-768px mx-auto gap-1em">
    {posts.map((post) => <a class=" aspect-ratio-[16/9] col-span-8" href={`/posts/${post.id}`}>{post.data.title}</a>)}
  </div>
</WithHeaderLayout>
