<div class="flex items-center border-b-(1px solid #ececec) h-64px">
  <!-- logo -->
  <div class="text-1.5em mx-1em">Gnayauh</div>
  <!-- top nav -->
  <div class="flex text-1.25em">
    <a href="/"><div class="mx-1em cursor-pointer">首页</div></a>
    <a href="/posts"><div class="mx-1em cursor-pointer">博客</div></a>
    <a href="/about"><div class="mx-1em cursor-pointer">关于</div></a>
  </div>
</div>
